* {
    box-sizing: border-box;
}
h1{
    text-align: center;
}
#container{
    border: 1px solid black;
    height: 85vh;
    width: 90%;
    margin: 0 auto;
}
h2{
    text-align: center;
}
/* .containerBox{
    display: inline-flex;
    float: left;
    border: 1px solid red;
    height: 72vh;
} */

/* .showData{
    width: 40%;
} */
#buttonsContainer{
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
}
.boardButton{
    border: 1px solid;
    width: 20%;
    height: 25px;
}
#dataShowcase{
    border: 1px solid red;
    height: 71.6vh;
    position: relative;
}
.dataBox{
    /* display: inline; */
}
#dataChart{
    border: 2px solid goldenrod;
    display: inline-block;
    width: 60%;
}
.surfPhoto{
    border: 2px solid darkcyan;
    width: 30em;
    float: right;
    height: inherit;
    /* position: absolute;
    top: 0;
    right: 0; */
}
.infoOnBoard{
    border: 2px solid purple;
    width: 60%;
    height: 40%;
    text-align: center;
}

